# production || development
NODE_ENV=development

APP_PORT=3030

# passphrase for encoding/decoding cookies
# should not change, unless you want to force logout all users
# generated with `node -e "console.log(require('crypto').randomBytes(512).toString('base64'));"`
COOKIE_SECRET=